* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.background {
    background-color: #1C2D4E;
    min-height: 100vh;
}

.conatainer {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    color: #fff;
    padding-top: 30px;
    position: relative;
}

.border {
    border: 2px solid #969696;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 18px;
}

.title {
    font-weight: 700;
    font-size: 28px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    color: #1C2D4E;
    padding: 10px 0 0 0;
    border-radius: 14px;
    width: 150px;
    height: 100%;
}

.score-title {
    font-size: 17px;
    font-weight: 600;
    color: #003aad;
    text-transform: uppercase;
}

.result {
    font-size: 62px;
    font-weight: 600;
}

.card_image {
    position: absolute;
    left: 250px;
    margin-top: 110px;
}

.section_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    top: -80px;
    margin-left: -70px;
}

.section_top_img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 105px;
}

.actions {
    border-radius: 70%;
    cursor: pointer;
}

.actions:hover {
    transition: all 0.4s ease;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
}

.rules-btn {
    position: absolute;
    top: 580px;
    left: 700px;
    cursor: pointer;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
}

.rules-btn:hover {
    background-color: #fff;
    border: none;
    color: #1C2D4E;
}

.paper img {
    width: 170px;
    height: 170px;
}

.scissors img {
    width: 170px;
    height: 170px;
}

.rock img {
    width: 170px;
    height: 170px;
}


/* results */

.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-template-areas: 
        'you-title ai-title'
        'you-picked ai-picked';
    max-width: 1000px;
    margin: 0 auto;
}

.results__heading {
    font-size: 24px;
    letter-spacing: 1px;
    padding: 64px 0 105px;
}

.results__result {
    min-width: 160px;
    min-height: 160px;
    background: #16213d;
    border-radius: 50%;
    z-index: 0;
}
 
.results__heading:first-of-type {
    font-size: 30px;
}

.results__heading:last-of-type {
    font-size: 30px;
}

.results__result:first-of-type {
    grid-area: you-picked;
}

.results__result:last-of-type {
    grid-area: ai-picked;
}

.hidden {
    display: none;
}

.result.show-winner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        'you-title . ai-title'
        'you-picked result-winner ai-picked';
}

.winner .choice::after {
    box-shadow: 0 0 0 40px #293251, 0 0 0 80px #232c4b, 0 0 0 130px #1e2949;
    animation: winner 1s ease forwards;
}

@keyframes winer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.result__winner {
    grid-area: result-winner;
    display: grid;
    place-items: center;
}

.results__text {
    font-size: 40px;
    padding-bottom: 14px;
}

.play-again {
    background-color: #fff;
    outline: none;
    border: 2px solid transparent;
    border-radius: 12px;
    color: #1C2D4E;
    padding: 12px 24px;
    font-family: inherit;
    font-size: 20px;
    cursor: pointer;
}

.play-again:hover {
    color: red;
}

.position {
    position: absolute;
    top: 370px;
}

/* modal */

.modal {
    position: absolute;
    margin-top: -5px;
    margin-left: 175px;
    display: none;
    z-index: 100;
}

.modal_main {
    background-color: #fff;
    border-radius: 18px;
    padding: 30px;
    width: 460px;
    display: flex;
    gap: 70px;
    flex-direction: column;
    justify-content: space-between;
}

.modal-title {
    color: rgba(59, 66, 98, 1);
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}

.modal_title_and_close {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon {
    cursor: pointer;
}

.rules_image {
    text-align: center;
    display: flex;
    justify-content: center;
}

.show-modal {
    display: block;
    pointer-events: initial;
}


@media only screen and (max-width: 1349px) {
    .conatainer {
        min-width: 1177px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .border {
        border: 2px solid #969696;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 18px;
    }

    .title {
        font-weight: 700;
        font-size: 28px;
    }

    .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #fff;
        color: #1C2D4E;
        padding: 10px 0 0 0;
        border-radius: 14px;
        width: 150px;
        height: 100%;
    }

    .score-title {
        font-size: 17px;
        font-weight: 600;
        color: #003aad;
        text-transform: uppercase;
    }

    .result {
        font-size: 62px;
        font-weight: 600;
    }

    .card_image {
        position: absolute;
        left: 430px;
        margin-top: 110px;
    }
    
    .section_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
        top: -80px;
        margin-left: -65px;
    }
    
    .section_top_img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 120px;
    }
    
    .actions {
        border-radius: 70%;
        cursor: pointer;
    }
    
    .actions:hover {
        transition: all 0.4s ease;
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    }
    
    .rules-btn {
        position: absolute;
        top: 580px;
        left: 900px;
        cursor: pointer;
        width: 130px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 8px;
    }
    
    .rules-btn:hover {
        background-color: #fff;
        border: none;
        color: #1C2D4E;
    }

    .paper img {
        width: 160px;
        height: 160px;
    }

    .scissors img {
        width: 160px;
        height: 160px;
    }

    .rock img {
        width: 160px;
        height: 160px;
    }

    .modal {
        position: absolute;
        margin-top: 20px;
        margin-left: 335px;
        z-index: 100;
    }
    
    .modal_main {
        background-color: #fff;
        border-radius: 18px;
        padding: 30px;
        width: 460px;
        display: flex;
        gap: 70px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .modal-title {
        color: rgba(59, 66, 98, 1);
        text-align: center;
        font-size: 28px;
        text-transform: uppercase;
    }
    
    .modal_title_and_close {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .close-icon {
        cursor: pointer;
    }
    
    .rules_image {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    

}

@media only screen and (max-width: 1177px) {
    .conatainer {
        min-width: 1000px;
        margin: auto;
    }

    .border {
        border: 2px solid #969696;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 18px;
    }

    .title {
        font-weight: 700;
        font-size: 28px;
    }

    .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #fff;
        color: #1C2D4E;
        padding: 10px 0 0 0;
        border-radius: 14px;
        width: 150px;
        height: 100%;
    }

    .score-title {
        font-size: 17px;
        font-weight: 600;
        color: #003aad;
        text-transform: uppercase;
    }

    .result {
        font-size: 62px;
        font-weight: 600;
    }

    .card_image {
        position: absolute;
        left: 330px;
        margin-top: 110px;
    }
    
    .section_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
        top: -80px;
        margin-left: -70px;
    }
    
    .section_top_img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 120px;
    }
    
    .actions {
        border-radius: 70%;
        cursor: pointer;
    }
    
    .actions:hover {
        transition: all 0.4s ease;
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    }
    
    .rules-btn {
        position: absolute;
        top: 580px;
        left: 750px;
        cursor: pointer;
        width: 130px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 8px;
    }
    
    .rules-btn:hover {
        background-color: #fff;
        border: none;
        color: #1C2D4E;
    }

    .paper img {
        width: 160px;
        height: 160px;
    }

    .scissors img {
        width: 160px;
        height: 160px;
    }

    .rock img {
        width: 160px;
        height: 160px;
    }
    

    .modal {
        position: absolute;
        margin-top: 22px;
        margin-left: 235px;
        z-index: 100;
    }
    
    .modal_main {
        background-color: #fff;
        border-radius: 18px;
        padding: 30px;
        width: 460px;
        display: flex;
        gap: 70px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .modal-title {
        color: rgba(59, 66, 98, 1);
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
    }
    
    .modal_title_and_close {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .close-icon {
        cursor: pointer;
    }
    
    .rules_image {
        text-align: center;
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 1000px) {
    .conatainer {
        min-width: 750px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .border {
        border: 2px solid #969696;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 14px;
    }

    .title {
        font-weight: 600;
        font-size: 25px;
    }

    .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #fff;
        color: #1C2D4E;
        padding: 10px 0 0 0;
        border-radius: 14px;
        width: 110px;
        height: 100%;
    }

    .score-title {
        font-size: 15px;
        font-weight: 600;
        color: #003aad;
        text-transform: uppercase;
    }

    .result {
        font-size: 42px;
        font-weight: 600;
    }

    .card_image {
        position: absolute;
        left: 235px;
        margin-top: 110px;
    }
    
    .section_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        top: -70px;
        margin-left: -45px;
    }
    
    .section_top_img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 120px;
    }
    
    .actions {
        border-radius: 70%;
        cursor: pointer;
    }
    
    .actions:hover {
        transition: all 0.4s ease;
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    }
    
    .rules-btn {
        position: absolute;
        top: 540px;
        left: 590px;
        cursor: pointer;
        width: 130px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 8px;
    }
    
    .rules-btn:hover {
        background-color: #fff;
        border: none;
        color: #1C2D4E;
    }

    .triangle img{
        width: 320px;
        height: 320px;
    }

    .paper img {
        width: 140px;
        height: 140px;
    }

    .scissors img {
        width: 140px;
        height: 140px;
    }

    .rock img {
        width: 140px;
        height: 140px;
    }
    
    .modal {
        position: absolute;
        margin-top: 20px;
        margin-left: 135px;
        z-index: 100;
    }
    
    .modal_main {
        background-color: #fff;
        border-radius: 18px;
        padding: 30px;
        width: 460px;
        display: flex;
        gap: 70px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .modal-title {
        color: rgba(59, 66, 98, 1);
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
    }
    
    .modal_title_and_close {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .close-icon {
        cursor: pointer;
    }
    
    .rules_image {
        text-align: center;
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 750px) {
    .conatainer {
        min-width: 650px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .border {
        border: 2px solid #969696;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;
    }

    .title {
        font-weight: 600;
        font-size: 22px;
    }

    .score {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #fff;
        color: #1C2D4E;
        padding: 10px 0 0 0;
        border-radius: 14px;
        width: 95px;
        height: 100%;
    }

    .score-title {
        font-size: 12px;
        font-weight: 600;
        color: #003aad;
        text-transform: uppercase;
    }

    .result {
        font-size: 34px;
        font-weight: 600;
    }

    .card_image {
        position: absolute;
        left: 205px;
        margin-top: 110px;
    }
    
    .section_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        top: -55px;
        margin-left: -45px;
    }
    
    .section_top_img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
    
    .actions {
        border-radius: 70%;
        cursor: pointer;
    }
    
    .actions:hover {
        transition: all 0.4s ease;
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    }
    
    .rules-btn {
        position: absolute;
        top: 510px;
        left: 540px;
        cursor: pointer;
        width: 130px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 8px;
    }
    
    .rules-btn:hover {
        background-color: #fff;
        border: none;
        color: #1C2D4E;
    }

    .triangle img {
        width: 260px;
        height: 260px;
    }

    .paper img {
        width: 120px;
        height: 120px;
    }

    .scissors img {
        width: 120px;
        height: 120px;
    }

    .rock img {
        width: 120px;
        height: 120px;
    }    
    
    .modal {
        position: absolute;
        margin-top: 20px;
        margin-left: 135px;
        z-index: 100;
    }
    
    .modal_main {
        background-color: #fff;
        border-radius: 18px;
        padding: 30px;
        width: 380px;
        display: flex;
        gap: 70px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .modal-title {
        color: rgba(59, 66, 98, 1);
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
    }
    
    .modal_title_and_close {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .close-icon {
        cursor: pointer;
    }
    
    .rules_image {
        text-align: center;
        display: flex;
        justify-content: center;
    }


}

@media only screen and (max-width: 650px) {
    .conatainer {
        min-width: 550px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .border {
        border: 2px solid #969696;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 8px;
    }

    .title {
        font-weight: 600;
        font-size: 17px;
    }

    .score {
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #fff;
        color: #1C2D4E;
        padding: 8px 0 0 0;
        border-radius: 10px;
        width: 70px;
        height: 100%;
    }

    .score-title {
        font-size: 8px;
        font-weight: 600;
        color: #003aad;
        text-transform: uppercase;
    }

    .result {
        font-size: 25px;
        font-weight: 600;
    }

    .card_image {
        position: absolute;
        left: 150px;
        margin-top: 110px;
    }
    
    .section_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        top: -55px;
        margin-left: -45px;
    }
    
    .section_top_img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
    
    .actions {
        border-radius: 70%;
        cursor: pointer;
    }
    
    .actions:hover {
        transition: all 0.4s ease;
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    }
    
    .rules-btn {
        position: absolute;
        top: 490px;
        left: 430px;
        cursor: pointer;
        width: 130px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 8px;
    }
    
    .rules-btn:hover {
        background-color: #fff;
        border: none;
        color: #1C2D4E;
    }

    .triangle img {
        width: 260px;
        height: 260px;
    }

    .paper img {
        width: 120px;
        height: 120px;
    }

    .scissors img {
        width: 120px;
        height: 120px;
    }

    .rock img {
        width: 120px;
        height: 120px;
    }
    
    .modal {
        position: absolute;
        margin-top: 20px;
        left: -40px;
        z-index: 100;
    }
    
    .modal_main {
        background-color: #fff;
        border-radius: 18px;
        padding: 30px;
        width: 360px;
        display: flex;
        gap: 70px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .modal-title {
        color: rgba(59, 66, 98, 1);
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .modal_title_and_close {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .close-icon img{
        cursor: pointer;
        width: 18px;
        height: 18px;
    }
    
    .rules_image {
        text-align: center;
        display: flex;
        justify-content: center;
    }


}

@media only screen and (max-width: 550px) {
    .conatainer {
        min-width: 450px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .border {
        border: 2px solid #969696;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 8px;
    }

    .title {
        font-weight: 600;
        font-size: 17px;
    }

    .score {
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #fff;
        color: #1C2D4E;
        padding: 8px 0 0 0;
        border-radius: 10px;
        width: 70px;
        height: 100%;
    }

    .score-title {
        font-size: 8px;
        font-weight: 600;
        color: #003aad;
        text-transform: uppercase;
    }

    .result {
        font-size: 25px;
        font-weight: 600;
    }

    .card_image {
        position: absolute;
        left: 120px;
        margin-top: 110px;
    }
    
    .section_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        top: -55px;
        margin-left: -45px;
    }
    
    .section_top_img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 85px;
    }
    
    .actions {
        border-radius: 70%;
        cursor: pointer;
    }
    
    .actions:hover {
        transition: all 0.4s ease;
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    }
    
    .rules-btn {
        position: absolute;
        top: 500px;
        left: 300px;
        cursor: pointer;
        width: 130px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 8px;
    }
    
    .rules-btn:hover {
        background-color: #fff;
        border: none;
        color: #1C2D4E;
    }

    .triangle img {
        width: 200px;
        height: 200px;
    }

    .paper img {
        width: 95px;
        height: 95px;
    }

    .scissors img {
        width: 95px;
        height: 95px;
    }

    .rock img {
        width: 95px;
        height: 95px;
    }
    
    .modal {
        position: absolute;
        margin-top: 20px;
        left: -60px;
        z-index: 100;
    }
    
    .modal_main {
        background-color: #fff;
        border-radius: 18px;
        padding: 30px;
        width: 300px;
        display: flex;
        gap: 70px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .modal-title {
        color: rgba(59, 66, 98, 1);
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .modal_title_and_close {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .close-icon img{
        cursor: pointer;
        width: 18px;
        height: 18px;
    }
    
    .rules_image img {
        width: 260px;
        height: 200px;
        text-align: center;
        display: flex;
        justify-content: center;
    }



}

@media only screen and (max-width: 450px) {
    .conatainer {
        min-width: 370px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .border {
        border: 2px solid #969696;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 8px;
    }

    .title {
        font-weight: 600;
        font-size: 17px;
    }

    .score {
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #fff;
        color: #1C2D4E;
        padding: 8px 0 0 0;
        border-radius: 10px;
        width: 70px;
        height: 100%;
    }

    .score-title {
        font-size: 8px;
        font-weight: 600;
        color: #003aad;
        text-transform: uppercase;
    }

    .result {
        font-size: 25px;
        font-weight: 600;
    }

    .card_image {
        position: absolute;
        left: 90px;
        margin-top: 110px;
    }
    
    .section_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 55px;
        top: -45px;
        margin-left: -35px;
    }
    
    .section_top_img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 75px;
    }
    
    .actions {
        border-radius: 70%;
        cursor: pointer;
    }
    
    .actions:hover {
        transition: all 0.4s ease;
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    }
    
    .rules-btn {
        position: absolute;
        top: 490px;
        left: 125px;
        cursor: pointer;
        width: 130px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 8px;
    }
    
    .rules-btn:hover {
        background-color: #fff;
        border: none;
        color: #1C2D4E;
    }

    .triangle img {
        width: 210px;
        height: 210px;
    }

    .paper img {
        width: 100px;
        height: 100px;
    }

    .scissors img {
        width: 100px;
        height: 100px;
    }

    .rock img {
        width: 100px;
        height: 100px;
    }  
    
    .modal {
        position: absolute;
        margin-top: 20px;
        left: -105px;
        z-index: 100;
    }
    
    .modal_main {
        background-color: #fff;
        border-radius: 18px;
        padding: 30px;
        width: 310px;
        display: flex;
        gap: 70px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .modal-title {
        color: rgba(59, 66, 98, 1);
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .modal_title_and_close {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .close-icon img{
        cursor: pointer;
        width: 18px;
        height: 18px;
    }
    
    .rules_image img {
        width: 260px;
        height: 200px;
        text-align: center;
        display: flex;
        justify-content: center;
    }


}

@media only screen and (max-width: 370px) {
    .conatainer {
        min-width: 270px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .border {
        border: 2px solid #969696;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 8px;
    }

    .title {
        font-weight: 600;
        font-size: 17px;
    }

    .score {
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #fff;
        color: #1C2D4E;
        padding: 8px 0 0 0;
        border-radius: 10px;
        width: 70px;
        height: 100%;
    }

    .score-title {
        font-size: 8px;
        font-weight: 600;
        color: #003aad;
        text-transform: uppercase;
    }

    .result {
        font-size: 25px;
        font-weight: 600;
    }

    .card_image {
        position: absolute;
        left: 70px;
        margin-top: 110px;
    }
    
    .section_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        top: -55px;
        margin-left: -45px;
    }
    
    .section_top_img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 85px;
    }
    
    .actions {
        border-radius: 70%;
        cursor: pointer;
    }
    
    .actions:hover {
        transition: all 0.4s ease;
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    }
    
    .rules-btn {
        position: absolute;
        top: 490px;
        left: 195px;
        cursor: pointer;
        width: 130px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 8px;
    }
    
    .rules-btn:hover {
        background-color: #fff;
        border: none;
        color: #1C2D4E;
    }

    .triangle img {
        width: 190px;
        height: 190px;
    }

    .paper img {
        width: 100px;
        height: 100px;
    }

    .scissors img {
        width: 100px;
        height: 100px;
    }

    .rock img {
        width: 100px;
        height: 100px;
    }    
    
    .modal {
        position: absolute;
        margin-top: 20px;
        left: -90px;
        z-index: 100;
    }
    
    .modal_main {
        background-color: #fff;
        border-radius: 18px;
        padding: 30px;
        width: 300px;
        display: flex;
        gap: 70px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .modal-title {
        color: rgba(59, 66, 98, 1);
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .modal_title_and_close {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .close-icon img{
        cursor: pointer;
        width: 18px;
        height: 18px;
    }
    
    .rules_image img {
        width: 260px;
        height: 200px;
        text-align: center;
        display: flex;
        justify-content: center;
    }



}